In [7]:
import pandas as pd

data = pd.read_csv('raw_data.csv')
data.set_index('date', inplace=True)
data = data.drop('pottermore', axis=1)
data.head()

,harrypotterwiki,hogwartsishere,jkrowling,harrypotterlexicon,mugglenet,wizardingworld
date,,,,,,
2016-01-01,0,0,0,0,0,16
2016-01-02,0,0,0,25,0,24
2016-01-03,0,0,0,32,22,19
2016-01-04,0,0,0,0,49,14
2016-01-05,22,0,0,0,0,14

In [8]:
new = pd.DataFrame()
for column in data:
    if column == 'harrypotterwiki':
        new = pd.DataFrame(data['harrypotterwiki'], index=data.index)
        new['source'] = column
        new.rename(columns={'harrypotterwiki': 'searches'}, inplace=True)
    else:
        temp = pd.DataFrame(data[column], index=data.index)
        temp['source'] = column
        temp.rename(columns={f'{column}': 'searches'}, inplace=True)
        new = pd.concat([new, temp], axis=0)

new.to_csv('final_data.csv')